.app-body {
    min-height: 100vh;
    position: relative;
    background: linear-gradient(45deg, var(--portfolio-palette-bgGradient-main), var(--portfolio-palette-bgGradient-second));
}
.app-body::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url("/images/tartan.jpeg");
    background-size: 200px 200px;
    opacity: 0.3;
    background-blend-mode: color;
}
.pdf-iframe {
    border: none;
}
.footer {
    font-family: var(--font-body);
    font-size: 1em;
    color: var(--portfolio-palette-primary-contrastText);
    margin-top: 2rem;
    text-align: center;
}
