.app-body {
    min-height: 100vh;
    position: relative;
    background: linear-gradient(45deg, var(--portfolio-palette-primary-main), var(--portfolio-palette-secondary-main))
}
.app-body::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url("/images/tartan.jpeg");
    background-size: 200px 200px;
    opacity: 0.8;
    background-blend-mode: color;
}
.pdf-iframe {
    border: none;
}
.biblatex-entry p {
    margin: 0;
    overflow: hidden;
    word-wrap: break-word;
    white-space: normal;
}
.biblatex-entry p:not(:first-child) {
    margin-left: 1.5em;
}
.institute-image {
    border-radius: 50%;
}
